<div class="jumbotron footer">
    <footer class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <span>All links</span><br>
                <a href="/profile/">Discuss</a><br>
                <a href="/profile/bookinfo">BookInfo</a><br>
                <a href="/profile/gameinfo">GameInfo</a><br>
                <a href="/profile/tagged">Tagged items</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <span>BookInfo links</span><br>
                <a href="bookinfo">All</a><br>
                <a href="scifi">Scifi</a><br>
                <a href="fantasy">Fantasy</a><br>
                <a href="ufantasy">Urban fantasy</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <span>GameInfo links</span><br>
                <a href="gameinfo">All</a><br>
                <a href="stealth">Stealth</a><br>
                <a href="racing">Racing</a><br>
                <a href="adventure">Action-Adventure</a>
            </div>
        </div>
    </footer>
</div>
