<div class="nav">
  <ul>
    <li class="home"><a href="/profile/">My Profile</a></li>
    <li class="tutorials"><a href="bookinfo">BookInfo</a>
      <ul class="booksGenre">
        <li><a href="bookinfo">All</a></li>
        <li><a href="scifi">SciFi</a></li>
        <li><a href="fantasy">Fantasy</a></li>
        <li><a href="ufantasy" style="font-size: 15px; padding-left: 7px;">Urban-Fantasy</a></li>
      </ul>
    </li>
    <li class="news"><a href="gameinfo">GameInfo</a>
      <ul class="gamesGenre">
        <li><a href="gameinfo">All</a></li>
        <li><a href="stealth">Stealth</a></li>
        <li><a href="racing">Racing</a></li>
        <li><a href="adventure" style="font-size: 14px; padding-left: 5px;">Action-Adventure</a></li>
      </ul>
    </li>
    <li class="tagged"><a href="tagged">Tags</a></li>
    <li class="contact"><a href="/auth/logout">Log out</a></li>
  </ul>
</div>
