<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/Images/star.ico" />
        <link href="/assets/bootstrap themes/1/theme.css" type="text/css" rel="stylesheet">
        <link href="/assets/addStyles.css" type="text/css" rel="stylesheet">
        <title>Add Book</title>
    </head>
    <body>

      <!-- navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand">MENU</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/profile">Profile<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/admin/addBook">Add Book</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/addGame">Add Game</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/admin/books">Books</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/games">Games</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Orders</a>
                  </li>
                </ul>
                <a class="btn btn-outline-success" href="/admin/logout">Log out</a>
              </div>
            </div>
        </nav>

        <div class="content container col-lg-6">
            <div class="card">
                <h1 class="text-success">Add Book!</h1>
                <form id="details" method="POST" action="/admin/addBk">
                  <input class="form-control form-control-lg" type="text" name="bname" placeholder="Book name" />
                  <input class="form-control form-control-lg" type="text" name="Author" placeholder="Author" />
                  <select class="form-control" id="genre" name="Genre">
                    <option value="SciFi">SciFi</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Urban Fantasy">Urban Fantasy</option>
                  </select>
                  <input class="form-control form-control-lg" type="text" name="Image" value="../assets/Images/" placeholder="Image path" />
                  <input class="form-control form-control-lg" type="text" name="price" placeholder="Price" />
                  <div class="form-group">
                    <textarea class="form-control" id="Desc" name="Description" placeholder="description..." rows="10"></textarea>
                  </div>
                  <button class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>

    </body>

    <script src="/assets/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap.js"></script>

</html>
