<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/Images/star.ico" />
        <link href="/assets/bootstrap themes/1/theme.css" type="text/css" rel="stylesheet">
        <link href="/assets/styles1.css" type="text/css" rel="stylesheet">
        <title>Home</title>
    </head>
    <body>

        <!-- navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand">MENU</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                  </li>
                </ul>
                  <div id="login-and-signup">
                    <a href="/auth/login" class="btn btn-outline-success">Log in</a>
                    <a href="/auth/signup" class="btn btn-outline-success">Sign up</a>
                  </div>
              </div>
            </div>
        </nav>

        <div class="jumbotron text-center"><h1 class="display-1">Deluxe Catalogs</h1></div>

        <div class="container text-muted">
            <!-- cards -->
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img src="../assets/Images/bk2.jpg" class="card-img-top img-fluid" />
                        <div class="card-block">
                            <h3 class="card-title text-center">BookInfo</h3>
                            <ul>
                                <li>Find the information on the books you need</li>
                                <li>Find the information on the newly released books</li>
                                <li>Find the information on the books yet to be released and the release date</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img src="../assets/Images/gm13.jpg" class="card-img-top img-fluid" />
                        <div class="card-block">
                            <h3 class="card-title text-center">GameInfo</h3>
                            <ul>
                                <li>Find the information on the games you need</li>
                                <li>Find the information on the newly released games</li>
                                <li>Find the information on the games yet to be released and the release date</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <img src="../assets/Images/bukmrk.jpg" class="card-img-top img-fluid" />
                        <div class="card-block">
                            <h3 class="card-title text-center">Tag and discuss</h3>
                            <ul>
                                <li>Tag up your books and/or games for future use</li>
                                <li>Keep track of the books you read and the games you play</li>
                                <li>Talk about what you love with other people</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="desc">
                <h3 class="text-center">Sign up now to use all these features!</h3>
            </div>
        </div>

    </body>

    <script src="/assets/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap.js"></script>

</html>
